<tr>
    <td><a href="" target="_blank"><img style="display: inline-block; width: 200px;"
      src="<%= myData.name %>/img/Thumbnail-img2.png" alt="GoTribe"></a></td>
      <%= myData2.name %>
</tr>
